/* Estilos del Carrito */
.carrito {
    width: 80%;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.carrito h2 {
    text-align: center;
    color: #365b6d;
}

.carrito-items {
    list-style: none;
    padding: 0;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.carrito-item img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.carrito-item-info {
    flex-grow: 1;
    padding: 0 15px;
}

.carrito-item-titulo {
    font-size: 20px;
    font-weight: 700;
    color: #1b3039;
}

.carrito-item-precio {
    font-size: 18px;
    color: #0567a0;
}

.carrito-item-cantidad {
    display: flex;
    align-items: center;
}

.carrito-item-cantidad input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.carrito-boton {
    background-color: #365b6d;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.carrito-boton:hover {
    background-color: #0567a0;
}

.carrito-total {
    text-align: right;
    font-size: 22px;
    font-weight: 700;
    color: #365b6d;
    margin-top: 20px;
}
